{% extends 'base.html.twig' %}

{% block title %}Tenant index{% endblock %}

{% block body %}
    <h1>Tenant index</h1>
    <div>
        <a href="{{ path('tenant_new') }}"><i class="icofont-plus"></i> Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Maison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tenant in tenants %}
            <tr>
                <td>{{ tenant.id }}</td>
                <td>{{ tenant.firstname }}</td>
                <td>{{ tenant.lastname }}</td>
                <td>{{ tenant.phone }}</td>
                <td>{{ tenant.email }}</td>
                <td>{{ tenant.realty.title }}</td>
                <td>
                    <a href="{{ path('tenant_show', {'id': tenant.id}) }}"><i class="icofont-eye"></i>show</a>
                    <a href="{{ path('tenant_edit', {'id': tenant.id}) }}"><i class="icofont-gear"></i> edit</a>
                    <a href="{{ path('tenant_delete', {'id': tenant.id}) }}"><i class="icofont-close"></i> delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
